/node_modules
/public/hot
/public/build
/storage/*.key
/vendor
.env
.env.backup
.env.production
.git
.gitignore
.dockerignore
Dockerfile
*.md
tests
phpunit.xml
.phpunit.result.cache
node_modules
npm-debug.log
.DS_Store
